@media (max-width: 1024px){
    .cabecalho{
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    gap: 15px;    
}

    .cabecalho .menu li a{
        padding: 15px;
    }

    .home .informacoes{
        padding: 30px;
    }

    .home .informacoes img{
        max-width: 100px;
    }

    .home .informacoes .titulo{
        font-size: 30px;
    }

    .compre-ja .cartao{
        width: 70%;
    }
}

@media (max-width: 768px){
    .home .informacoes{
    gap: 16px;
    padding-left: 6%;
    }

    .home .informacoes .titulo{
        font-size: 36px;
        padding-left: 5%;
    }

    .home .informacoes .texto{
        font-size: 15px;
        padding: 5%;
    }

    .home .informacoes .lista-de-jogos{
        padding-left: 32%;
    }   

    .home .btn-comprar{
        width: 100%;
    }

    .compre-ja{
        padding: 35px;
    }

    .compre-ja .cartao{
        padding: 80px 20px;
        width: 100%;
    }

    .compre-ja .informacoes h3{
        font-size: 36px;
    }

    .compre-ja .informacoes .plataformas{
        gap: 25px;
    }

    @media (max-width: 460px){
        main::after{
            background: linear-gradient
            (90deg, rgba(0, 0, 0, 0.85),
           rgba(0, 0, 0, 0.4)
            100%, transparent 65%);
        }
    }
}